<footer>
    <div class="contenido-pie">
       
        <div class="iconos-sociales">
            <a href="https://www.facebook.com/fiestasinfantilesCp?mibextid=ZbWKwL" class="icono-social"><i class="fab fa-facebook-f"></i></a>
            <a href="https://youtube.com/@cocolandiatv5183?si=eUI3KGC6wkOC1GvZ" class="icono-social"><i class="fab fa-youtube"></i></a>
            <a href="https://www.instagram.com/cocolandia_shows?igsh=c29neTMydmg4OHgx" class="icono-social"><i class="fab fa-instagram"></i></a>
            <a href="https://wa.me/525569177598" class="icono-social"><i class="fab fa-whatsapp"></i></a>
            <a href="https://www.tiktok.com/@cocolandiashows?_t=8pso0F1gfAL&_r=1" class="icono-social"> <i class="fab fa-tiktok"></i></a>
        </div>
        <img src="logoicono.ico" alt="Logotipo de Cocolandia" class="logo-footer"> <!-- Añade tu logotipo aquí -->
        <div class="texto-pie">
            
            <p>Copyright &copy; 2024 Cocolandia Shows </p>
          <p>Desarrollado por Hernandez Muñoz Alberto Michel I. S. I.</p>
        </div>
    </div>
</footer>
