<h1 class="titulo">¿Quiénes Somos?</h1>

<div class="seccion-acerca">
  <div class="contenedor-contenido">
    <div class="contenedor-video">
      <div class="sombra-video">
        <iframe src="https://www.youtube.com/embed/Du1f4RIyQig?si=rW7BOx1bOeI69l-W" 
        width="560" 
        height="315" 
        scrolling="no" 
        frameborder="0" 
        allow="autoplay; encrypted-media" 
        allowfullscreen>
        </iframe>
      </div>
    </div>
    <p class="texto-acerca">
      En Cocolandia Shows, nos apasiona crear momentos inolvidables y llenos de magia para todos nuestros invitados. 
      Nos ubicamos en Ixtapaluca, Estado de México, nuestro equipo se especializa en fiestas infantiles y actividades recreativas 
      que aseguran diversión y seguridad para los más pequeños.
    </p>
  </div>
</div>

<div class="seccion-acerca">
  <div class="contenedor-contenido">
    <p class="texto-acerca">
      Nuestra misión es proporcionar un espacio donde los niños puedan disfrutar momentos especiales en un entorno seguro, 
      lleno de alegría y gran entretenimiento. Nos esforzamos por ofrecer experiencias únicas que dejen recuerdos duraderos 
      en los corazones de los niños y sus familias.
    </p>
    <div class="contenedor-video">
      <div class="sombra-video">
        <iframe src="https://www.youtube.com/embed/zyAy-CC4DLM?si=H8HBZtFEB9nZbcDk" 
        width="560" 
        height="315" 
        scrolling="no" 
        frameborder="0" 
        allow="autoplay; encrypted-media" 
        allowfullscreen>
        </iframe>
      </div>
    </div>
  </div>
</div>
